# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Galina Rusinova\WD\Education\Bootcamp_JS\Bootcamp_JS\Week_8\Day_2\ex_xp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
